<html>
  <head>
    <meta charset = "utf-8" name="name" content="content">
  <link rel="stylesheet" href="<%= url('css/style.css')%>">
  <script type="text/javascript" src ="<%= url('javascripts/js.js')%>">
  </script>
    </style>
    <title><%= @title %></title>
  </head>
  <body>
    <%= yield%>
  </body>
</html>
